<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/indexAdmin.html}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Material Dash</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/admin/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/admin/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/admin/vendors/flag-icon-css/css/flag-icon.min.css}">
  <link rel="stylesheet" th:href="@{/admin/vendors/jvectormap/jquery-jvectormap.css}">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{/admin/css/demo/style.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}" />
  <script type="text/javascript">
    $(document).ready(function () {
      setOrderDate();
      reloadDataStatus();
    });
    function setOrderDate() {
			var currentDate = new Date();
			var day = currentDate.getDate();
			var month = currentDate.getMonth() + 1;
			var year = currentDate.getFullYear();
			ToDay = year + "-" + month + "-" + day;
			threeDayAgo = year + "-" + month + "-" + (day - 6);
			$('#frmOrderDt').val(threeDayAgo);
			$('#toOrderDt').val(ToDay);
		};
    function reloadDataStatus() {
			url = "/api/order/GetProcess";
			$.ajax({
				type: "GET",
				url: url,
				contentType: "application/json",
				success: function (data) {
					// sort by value
					ListOrderProcess = data.sort(function (a, b) {
						return a.id - b.id;
					});;
					selectStatus(ListOrderProcess);
				},
				error: function (e) {
					Swal.fire({
						icon: 'error',
						text: "Can't load data !!!",
					})
				}
			})
		}
		function selectStatus(ListOrderProcess) {
			let option = '';
			for (let i = 0; i < ListOrderProcess.length; i++) {
				option += `<option value="${ListOrderProcess[i].id}">${ListOrderProcess[i].description}</option>`
			};
			let bodySelect =
				`<select id="OrderStatus" class="form-control" >` +
				option +
				`</select>`;
			$('#selectStatus').html(bodySelect);
		};
    function searchOrder(){
      
    }
  </script>
</head>

<body>
  <div layout:fragment="contentAdmin">
    <div class="body-wrapper">
      <div class="main-wrapper mdc-drawer-app-content">
        <div class="page-wrapper mdc-toolbar-fixed-adjust">
          <main class="content-wrapper">
            <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                  <div class="mdc-card p-0">
                    <h6 class="card-title card-padding pb-0">[(#{order.titlePage})]</h6>
                    <form>
                      <fieldset>
                        <!--<div class="form-group form-inline">
                          <label for="paymentMethod" style="width: 15%;">Payment Method</label>
                          <div id="selectPaymentMethod"></div>
                        </div>-->
                        <div class="form-group form-inline">
                          <label for="status" >Status</label>
                          <div id="selectStatus"></div>
                        </div>
                        <label for="orderDate" >Order Date</label>
                        <div class="form-group form-inline">
                          <input id="frmOrderDt" type="date" class="form-control">
                          <label for="orderDate"> To </label>
                          <input id="toOrderDt" type="date" class="form-control">
                        </div>
                      </fieldset>
                      <button type="button" th:attr="onclick='searchOrder()'" class="btn btn-primary">Search</button>
                    </form>
                    <div class="table-responsive">
                      <table id="tableOrderADM" class="table table-hoverable" style="cursor: pointer;">
                        <thead>
                          <tr>
                            <th class="text-left">[(#{order.stt})]</th>
                            <th>[(#{order.code})]</th>
                            <th>[(#{order.orddt})]</th>
                            <th>[(#{order.ordtm})]</th>
                            <th>[(#{order.totalprc})]</th>
                            <th>[(#{order.process_sts})]</th>
                            <th>[(#{order.user_userNm})]</th>
                            <th>[(#{order.paymentMethod_Nm})]</th>
                            <th>[(#{order.description})]</th>
                          </tr>
                        </thead>
                        <tbody id="bodyOrder"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--<div class="col-md-12">
                  <h6 class="card-title card-padding pb-0">Detail Order</h6>
                  
                </div>-->
              </div>
              <!-- Button to Open the Modal -->
              <div id="tabOrderDetailADM"></div>
              <!--END -->
            </div>
        </div>

        </main>

      </div>
    </div>
  </div>
  </div>
  <!-- plugins:js -->
  <script th:src="@{/admin/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script th:src="@{/admin/vendors/chartjs/Chart.min.js}"></script>
  <script th:src="@{/admin/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
  <script th:src="@{/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script th:src="@{/admin/js/material.js}"></script>
  <script th:src="@{/admin/js/misc.js}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script th:src="@{/admin/js/dashboard.js}"></script>
  <!-- End custom js for this page-->

</body>
<!--- CSS -->
<link th:href='@{/admin/css/orderprocessADM.css}' rel='stylesheet' type='text/css' />

</html>