<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/indexAdmin.html}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Material Dash</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/admin/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/admin/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/admin/vendors/flag-icon-css/css/flag-icon.min.css}">
  <link rel="stylesheet" th:href="@{/admin/vendors/jvectormap/jquery-jvectormap.css}">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{/admin/css/demo/style.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}" />
</head>
<body>
<div layout:fragment="contentAdmin">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <div class="mdc-card">
        <h6 class="card-title">Title</h6>
        Products Management
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
        <div class="mdc-card p-0">
          <h6 class="card-title card-padding pb-0">Products Table</h6>
          <div class="table-responsive">
            <table class="table table-hoverable" id="prodTable">
              <thead>
              <tr class="text-center">
                <th >Id</th>
                <th >Name</th>
                <th >Type</th>
                <th >Quantity</th>
                <th >Price</th>
                <th >Unit</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="prod , state: ${prod}" th:attr="onclick='Item(\''+${prod.id}+'\')'" class="text-center">
                <td th:text="${state.index + 1} "></td>
                <td th:text="${prod.name}"></td>
                <td th:text="${prod.typeOfProduct.description}"></td>
                <td th:text="${prod.quantity}"></td>
                <td th:text="${prod.price}"></td>
                <td th:text="${prod.unitType.description}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="mdc-card">
        <h6 class="card-title">Products</h6>
        <canvas id="totalUser"></canvas>
      </div>
    </div>
    <!--User Detail-->
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
      <div class="mdc-card">
        <h1 class="card-title">Product Detail</h1>
        <div class="mdc-layout-grid__cell--span-12">
          <div class="mdc-layout-grid__inner">
            <!--Infor-->
            <div class="mdc-layout-grid__cell--span-7">
              <div class="mdc-card">
                <!--<h6 class="card-title">Detail Information</h6>-->
                <div class="template-demo">
                  <div class="">
                    <div class="mdc-layout-grid__cell--span-6-desktop">
                      <div class="mdc-text-field ">
                        <input class="mdc-text-field__input" style="" id="txtProdName">
                        <div class="mdc-line-ripple"></div>
                        <label for="text-field-hero-input" class="mdc-floating-label">Name</label>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-6-desktop">
                      <div class="mdc-text-field ">
                        <input type="hidden" class="mdc-text-field__input" >
                        <i class="mdc-select__dropdown-icon"></i>
                        <select class="mdc-select__selected-text" id="cboType">
                          <option th:each="type : ${type}"
                                  th:value="${type.id}"
                                  th:utext="${type.description}"/>
                        </select>
                        <div class="mdc-line-ripple"></div>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-6-desktop">
                      <div class="mdc-text-field ">
                        <input class="mdc-text-field__input" style="" id="txtQuantity">
                        <div class="mdc-line-ripple"></div>
                        <label for="text-field-hero-input" class="mdc-floating-label">Quantity</label>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-6-desktop">
                      <div class="mdc-text-field ">
                        <input class="mdc-text-field__input" style="" id="txtPrice">
                        <div class="mdc-line-ripple"></div>
                        <label for="text-field-hero-input" class="mdc-floating-label">Price</label>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-6-desktop">
                      <div class="mdc-text-field ">
                        <input type="hidden" class="mdc-text-field__input" >
                        <i class="mdc-select__dropdown-icon"></i>
                        <select class="mdc-select__selected-text" id="cboUnit">
                          <option th:each="unit : ${unit}"
                                  th:value="${unit.id}"
                                  th:utext="${unit.description}"/>
                        </select>
                        <div class="mdc-line-ripple"></div>
                      </div>
                    </div>
                    <div class="mdc-layout-grid__cell--span-6-desktop">
                      <div class="mdc-text-field ">
                        <label for="text-field-hero-input" class="mdc-floating-label">Description</label>
                        <textarea class="mdc-text-field__input" style="" id="txtDescription" rows="4"></textarea>
                        <div class="mdc-line-ripple"></div>
                      </div>
                    </div>
                    <div class="mdc-card__supporting-text">
                      <div class ="template-demo">
                        <button id="btnCreate" class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96776; --mdc-ripple-fg-translate-start:42.5px, -7.5px; --mdc-ripple-fg-translate-end:19.3047px, -10.5px;">
                          Create
                        </button>
                        <button class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96776; --mdc-ripple-fg-translate-start:42.5px, -7.5px; --mdc-ripple-fg-translate-end:19.3047px, -10.5px;">
                          Update
                        </button>
                        <button class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96776; --mdc-ripple-fg-translate-start:42.5px, -7.5px; --mdc-ripple-fg-translate-end:19.3047px, -10.5px;">
                          Delete
                        </button>
                        <button id="btnClear" class="mdc-button mdc-button--unelevated mdc-ripple-upgraded" style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96776; --mdc-ripple-fg-translate-start:42.5px, -7.5px; --mdc-ripple-fg-translate-end:19.3047px, -10.5px;">
                          Clear
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--Img -->
            <div class="mdc-layout-grid__cell--span-5">
              <div class="mdc-card" style="width: 100%;cursor: pointer">
                <!--<h6 class="card-title">Detail Information</h6>-->
                <div class="template-demo">
                  <div class="">
                    <img style="width: 100%;" id="prodImg"  alt="product" class="product" >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
            <div class="mdc-card">
              <h6 class="card-title">Order statistics</h6>
              <canvas id="OrderStatistics"></canvas>
            </div>
          </div>
        </div>
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
<!-- plugins:js -->
  <script th:src="@{/admin/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script th:src="@{/admin/vendors/chartjs/Chart.min.js}"></script>
  <script th:src="@{/admin/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
  <script th:src="@{/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script th:src="@{/admin/js/material.js}"></script>
  <script th:src="@{/admin/js/misc.js}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script th:src="@{/admin/js/dashboard.js}"></script>
  <!-- End custom js for this page-->
</body>
</html>