<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/indexAdmin.html}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Material Dash</title>
  <!-- plugins:css -->
  <link rel="stylesheet" th:href="@{/admin/vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{/admin/vendors/css/vendor.bundle.base.css}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" th:href="@{/admin/vendors/flag-icon-css/css/flag-icon.min.css}">
  <link rel="stylesheet" th:href="@{/admin/vendors/jvectormap/jquery-jvectormap.css}">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" th:href="@{/admin/css/demo/style.css}">
  <!-- End layout styles -->
  <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}" />
  <script type="text/javascript" th:src='@{/admin/js/pages/ADM_userTop.js}'></script>
  <!-- Styles -->
  <style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }
  </style>

  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

  <!-- Chart code -->
  <script>
    am5.ready(function () {
      $('#frmTopUserChartDt').val(moment().subtract(6, 'months').format('YYYY-MM-DD'));
      $('#toTopUserChartDt').val(moment().format('YYYY-MM-DD'));
      ADM_userTop();
      formatData(dataChart);
      //chartTotalPriceUser(dataChart);

    }); // end am5.ready()
    
    chartTotalPriceUser = (dataChart) => {
      // Create root element
      // https://www.amcharts.com/docs/v5/getting-started/#Root_element
      // if (root != undefined) {
      //   root.destroy();
      // }
      var root = am5.Root.new("chartdiv");
      // Set themes
      // https://www.amcharts.com/docs/v5/concepts/themes/
      root.setThemes([
        am5themes_Animated.new(root)
      ]);

      var data = dataChart;

      // Create chart
      // https://www.amcharts.com/docs/v5/charts/xy-chart/
      var chart = root.container.children.push(
        am5xy.XYChart.new(root, {
          panX: false,
          panY: false,
          wheelX: "none",
          wheelY: "none",
          paddingBottom: 50,
          paddingTop: 40
        })
      );
      // Create axes
      // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/

      var xRenderer = am5xy.AxisRendererX.new(root, {});
      xRenderer.grid.template.set("visible", false);

      var xAxis = chart.xAxes.push(
        am5xy.CategoryAxis.new(root, {
          paddingTop: 500,
          categoryField: "name",
          renderer: xRenderer
        })
      );


      var yRenderer = am5xy.AxisRendererY.new(root, {});
      yRenderer.grid.template.set("strokeDasharray", [3]);

      var yAxis = chart.yAxes.push(
        am5xy.ValueAxis.new(root, {
          min: 0,
          renderer: yRenderer
        })
      );

      // Add series
      // https://www.amcharts.com/docs/v5/charts/xy-chart/series/
      var series = chart.series.push(
        am5xy.ColumnSeries.new(root, {
          name: "Income",
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: "steps",
          categoryXField: "name",
          sequencedInterpolation: true,
          calculateAggregates: true,
          maskBullets: false,
          tooltip: am5.Tooltip.new(root, {
            dy: -30,
            pointerOrientation: "vertical",
            labelText: "{valueY}"
          })
        })
      );

      series.columns.template.setAll({
        strokeOpacity: 0,
        cornerRadiusBR: 10,
        cornerRadiusTR: 10,
        cornerRadiusBL: 10,
        cornerRadiusTL: 10,
        maxWidth: 50,
        fillOpacity: 0.8
      });

      var currentlyHovered;

      series.columns.template.events.on("pointerover", function (e) {
        handleHover(e.target.dataItem);
      });

      series.columns.template.events.on("pointerout", function (e) {
        handleOut();
      });

      function handleHover(dataItem) {
        if (dataItem && currentlyHovered != dataItem) {
          handleOut();
          currentlyHovered = dataItem;
          var bullet = dataItem.bullets[0];
          bullet.animate({
            key: "locationY",
            to: 1,
            duration: 600,
            easing: am5.ease.out(am5.ease.cubic)
          });
        }
      }

      function handleOut() {
        if (currentlyHovered) {
          var bullet = currentlyHovered.bullets[0];
          bullet.animate({
            key: "locationY",
            to: 0,
            duration: 600,
            easing: am5.ease.out(am5.ease.cubic)
          });
        }
      }

      var circleTemplate = am5.Template.new({});

      series.bullets.push(function (root, series, dataItem) {
        var bulletContainer = am5.Container.new(root, {});
        var circle = bulletContainer.children.push(
          am5.Circle.new(
            root,
            {
              radius: 34
            },
            circleTemplate
          )
        );

        var maskCircle = bulletContainer.children.push(
          am5.Circle.new(root, { radius: 27 })
        );

        // only containers can be masked, so we add image to another container
        var imageContainer = bulletContainer.children.push(
          am5.Container.new(root, {
            mask: maskCircle
          })
        );

        // not working
        var image = imageContainer.children.push(
          am5.Picture.new(root, {
            templateField: "pictureSettings",
            centerX: am5.p50,
            centerY: am5.p50,
            width: 60,
            height: 60
          })
        );

        return am5.Bullet.new(root, {
          locationY: 0,
          sprite: bulletContainer
        });
      });

      // heatrule
      series.set("heatRules", [
        {
          dataField: "valueY",
          min: am5.color(0xe5dc36),
          max: am5.color(0x5faa46),
          target: series.columns.template,
          key: "fill"
        },
        {
          dataField: "valueY",
          min: am5.color(0xe5dc36),
          max: am5.color(0x5faa46),
          target: circleTemplate,
          key: "fill"
        }
      ]);

      series.data.setAll(data);
      xAxis.data.setAll(data);

      var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
      cursor.lineX.set("visible", false);
      cursor.lineY.set("visible", false);

      cursor.events.on("cursormoved", function () {
        var dataItem = series.get("tooltip").dataItem;
        if (dataItem) {
          handleHover(dataItem);
        } else {
          handleOut();
        }
      });

      // Make stuff animate on load
      // https://www.amcharts.com/docs/v5/concepts/animations/
      series.appear();
      chart.appear(1000, 100);
    }

  </script>

</head>

<body>
  <div layout:fragment="contentAdmin">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <div class="mdc-card">
          <h6 class="card-title">Title</h6>
          <div id="chartdiv"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- plugins:js -->
  <script th:src="@{/admin/vendors/js/vendor.bundle.base.js}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script th:src="@{/admin/vendors/chartjs/Chart.min.js}"></script>
  <script th:src="@{/admin/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
  <script th:src="@{/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script th:src="@{/admin/js/material.js}"></script>
  <script th:src="@{/admin/js/misc.js}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script th:src="@{/admin/js/dashboard.js}"></script>
  <!-- End custom js for this page-->
</body>

</html>