<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/indexAdmin.html}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Material Dash</title>
	<!-- plugins:css -->
	<!-- <link rel="stylesheet" th:href="@{/admin/vendors/mdi/css/materialdesignicons.min.css}">
	<link rel="stylesheet" th:href="@{/admin/vendors/css/vendor.bundle.base.css}"> -->
	<!-- endinject -->
	<!-- Plugin css for this page -->
	<link rel="stylesheet" th:href="@{/admin/vendors/flag-icon-css/css/flag-icon.min.css}">
	<link rel="stylesheet" th:href="@{/admin/vendors/jvectormap/jquery-jvectormap.css}">
	<!-- End plugin css for this page -->
	<!-- Layout styles -->
	<link rel="stylesheet" th:href="@{/admin/css/demo/style.css}">
	<!-- End layout styles -->
	<link rel="shortcut icon" th:href="@{/admin/images/favicon.png}" />
	<script type="text/javascript" th:src='@{/admin/js/pages/ADM_user.js}'></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('#frmTotalPriceUserChartDt').val(moment().subtract(6, 'months').format('YYYY-MM-DD'));
			$('#toTotalPriceUserChartDt').val(moment().format('YYYY-MM-DD'));
			ADM_user();

		});
		function getChartOrderStatisticsById() {
			userId = $('#txtidUsers').val();
			ChartOrderstatisticsById(userId);
		}
	</script>
</head>

<body>
	<div layout:fragment="contentAdmin">
		<div class="mdc-layout-grid__inner">
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
				<!-- <div class="mdc-card">
					<h6 class="card-title">[(#{user.UserRoleAccount})]</h6>
					<canvas id="totalUser"></canvas>
				</div>
				</br> -->
				<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
					<div class="mdc-card p-3">
						<h6 class="card-title card-padding pb-0">[(#{user.UserTable})]</h6>
						<div class="table-responsive">
							<div id="tableMgtUsers"></div>
						</div>
					</div>
				</div>
			</div>
			<!--User Detail-->
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
				<div class="mdc-card">
					<h1 class="card-title">[(#{user.UserDetail})]</h1>
					<div class="mdc-layout-grid__cell--span-12">
						<div class="mdc-layout-grid__inner">
							<!--Infor-->
							<div class="mdc-layout-grid__cell--span-7">
								<div class="mdc-card">
									<!--<h6 class="card-title">Detail Information</h6>-->
									<div class="template-demo">
										<div class="">
											<input id="txtidUsers" type="hidden">
											<div class="mdc-layout-grid__cell--span-6-desktop">
												<div class="mdc-text-field ">
													<input class="mdc-text-field__input" style="" id="txtuserName">
													<div class="mdc-line-ripple"></div>
													<label for="text-field-hero-input" class="mdc-floating-label">User
														Name</label>
												</div>
											</div>
											<div class="mdc-layout-grid__cell--span-6-desktop">
												<div class="mdc-text-field ">
													<input class="mdc-text-field__input" style="" id="txtfullName">
													<div class="mdc-line-ripple"></div>
													<label for="text-field-hero-input" class="mdc-floating-label">Full
														Name</label>
												</div>
											</div>
											<div class="mdc-layout-grid__cell--span-6-desktop">
												<div class="mdc-text-field ">
													<!--<input class="mdc-text-field__input" style="" id="txtuserRole" >-->
													<select class="form-control" id="txtuserRole">
														<option value=2>[(#{user.User})]</option>
														<option value=1>[(#{user.Admin})]</option>
													</select>
													<div class="mdc-line-ripple"></div>
													<label for="text-field-hero-input"
														class="mdc-floating-label"></label>
												</div>
											</div>
											<div class="mdc-layout-grid__cell--span-6-desktop">
												<div class="mdc-text-field ">
													<input class="mdc-text-field__input" id="txtEmail">
													<div class="mdc-line-ripple"></div>
													<label for="text-field-hero-input"
														class="mdc-floating-label">Email</label>
												</div>
											</div>
											<div class="mdc-layout-grid__cell--span-6-desktop">
												<div
													class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
													<i class="material-icons mdc-text-field__icon">visibility</i>
													<input class="mdc-text-field__input" id="txtHashPassWord">
													<div class="mdc-notched-outline">
														<div class="mdc-notched-outline__leading"></div>
														<div class="mdc-notched-outline__notch">
															<label for="text-field-hero-input"
																class="mdc-floating-label"
																type="password">Password</label>
														</div>
														<div class="mdc-notched-outline__trailing"></div>
													</div>
												</div>
											</div>
											<div class="mdc-layout-grid__cell--span-6-desktop">
												<div class="mdc-text-field ">
													<select class="form-control" id="cboUsing">
														<option value=1>[(#{user.using})]</option>
														<option value=0>[(#{user.notUsing})]</option>
													</select>
													<div class="mdc-line-ripple"></div>
													<label for="text-field-hero-input"
														class="mdc-floating-label"></label>
												</div>
											</div>
											<div class="mdc-switch mdc-switch--checked" data-mdc-auto-init="MDCSwitch">
												<div class="mdc-switch__track"></div>
												<div class="mdc-switch__thumb-underlay">
													<div class="mdc-switch__thumb">
														<input aria-hidden="true" id="chkUsing" type="checkbox"
															class="mdc-switch__native-control" role="switch">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--Img -->
							<div class="mdc-layout-grid__cell--span-5">
								<div class="mdc-card" style="width: 100%;cursor: pointer">
									<!--<h6 class="card-title">Detail Information</h6>-->
									<div class="template-demo">
										<div class="">
											<img style="width: 100%;" id="userImg" alt="user" class="user">
										</div>
									</div>
									<input type="file" name="fileImage" id="fileImage" accept="image/png, image/jpeg">
								</div>
							</div>
						</div>
						<div class="mdc-card__supporting-text">
							<div class="template-demo">
								<button id="btnCreated" class="mdc-button mdc-button--unelevated mdc-ripple-upgraded"
									style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96776; --mdc-ripple-fg-translate-start:42.5px, -7.5px; --mdc-ripple-fg-translate-end:19.3047px, -10.5px;">
									[(#{btn.create})]
								</button>
								<button id="btnDeleted" class="mdc-button mdc-button--unelevated mdc-ripple-upgraded"
									style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96776; --mdc-ripple-fg-translate-start:42.5px, -7.5px; --mdc-ripple-fg-translate-end:19.3047px, -10.5px;"
									disabled>
									[(#{btn.delete})]
								</button>
								<button id="btnClear" class="mdc-button mdc-button--unelevated mdc-ripple-upgraded"
									style="--mdc-ripple-fg-size:57px; --mdc-ripple-fg-scale:1.96776; --mdc-ripple-fg-translate-start:42.5px, -7.5px; --mdc-ripple-fg-translate-end:19.3047px, -10.5px;">
									[(#{btn.clear})]
								</button>
							</div>
						</div>
					</div>
					<!--</div>-->
				</div>
			</div>

			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop">
				<div class="mdc-card">
					<h6 class="card-title">[(#{user.StatisticsUserOrder})]</h6>
					<canvas id="OrderStatistics"></canvas>
				</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop">
				<div class="mdc-card">
					<form>
						<fieldset>
							<label for="orderDate">[(#{order.period})]</label>
							<div class="form-group">
								<input id="frmTotalPriceUserChartDt" type="date" class="form-control"> <br>
								<input id="toTotalPriceUserChartDt" type="date" class="form-control"><br>
							</div>
						</fieldset>
						<button type="button" th:attr="onclick='getChartOrderStatisticsById()'"
							class="btn btn-primary">[(#{btn.search})]</button>
					</form>
				</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
				<div class="mdc-card">
					<h6 class="card-title">[(#{user.UserStatisticUsingAccount})]</h6>
					<canvas id="UserStatisticUsingAccount"></canvas>
				</div>
			</div>
			<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
				<div class="mdc-card">
					<h6 class="card-title">[(#{user.UserStatisticTypeAccount})]</h6>
					<canvas id="UserStatisticTypeAccount"></canvas>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function () {
				$('#fileImage').change(function () {
					ShownImage(this);
				})

			})
			function ShownImage(fileInput) {
				file = fileInput.files[0];
				reader = new FileReader();
				reader.onload = function (e) {
					$('#userImg').attr('src', e.target.result);
				};
				reader.readAsDataURL(file);
			}

		</script>

	</div>
	<!-- plugins:js -->
	<script th:src="@{/admin/vendors/js/vendor.bundle.base.js}"></script>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<script th:src="@{/admin/vendors/chartjs/Chart.min.js}"></script>
	<script th:src="@{/admin/vendors/jvectormap/jquery-jvectormap.min.js}"></script>
	<script th:src="@{/admin/vendors/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script th:src="@{/admin/js/material.js}"></script>
	<script th:src="@{/admin/js/misc.js}"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script th:src="@{/admin/js/dashboard.js}"></script>
	<!-- End custom js for this page-->
</body>

</html>