<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<body>
	<header>
		<a th:href="@{/home/offer}"><img th:src="@{/home/images/download.png}" class="img-head" alt=""></a>
		<div class="header">

			<div class="container">

				<div class="logo">
					<h1><a th:href="@{/home}"><b>T<br>H<br>E</b>Big Store<span>The Best Supermarket</span></a></h1>
				</div>
				<div class="head-t">
					<ul class="card">
						<li><a th:href="@{/home/wishlist}"><i class="fa fa-heart" aria-hidden="true"></i>[(#{submenu.whishlist})]</a>
						</li>
						<li><a th:href="@{/home/login}"><i class="fa fa-user" aria-hidden="true"></i>[(#{submenu.login})]</a></li>
						<li><a th:href="@{/home/logout}"><i class="fa fa-heart" aria-hidden="true"></i>[(#{submenu.logout})]</a>
						</li>
						<li><a th:href="@{/home/register}"><i class="fa fa-arrow-right"
									aria-hidden="true"></i>[(#{submenu.register})]</a></li>
						<li><a th:href="@{/home/OrderHistory} "><i class="fa fa-file-text-o" aria-hidden="true"></i>[(#{submenu.order_history})]</a></li>
						<li><a th:href="@{/home/about} "><i class="fa fa-file-text-o" aria-hidden="true"></i>[(#{submenu.about_us})]</a></li>
						<li><a th:href="@{/home/shipping}"><i class="fa fa-ship" aria-hidden="true"></i>Shipping</a>
						</li>
					</ul>
				</div>

				<div class="header-ri">
					<ul class="social-top">
						<li><a href="#" class="icon facebook"><i class="fa fa-facebook"
									aria-hidden="true"></i><span></span></a></li>
						<li><a href="#" class="icon twitter"><i class="fa fa-twitter"
									aria-hidden="true"></i><span></span></a></li>
						<li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p"
									aria-hidden="true"></i><span></span></a></li>
						<li><a href="#" class="icon dribbble"><i class="fa fa-dribbble"
									aria-hidden="true"></i><span></span></a></li>
					</ul>
				</div>


				<div class="nav-top">
					<nav class="navbar navbar-default">

						<div class="navbar-header nav_2">
							<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
								data-target="#bs-megadropdown-tabs">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
							<ul class="nav navbar-nav ">
								<li><a th:href="@{/home}" class="hyper " th:text="#{nav.home}"><span >Home</span></a></li>

				<!-- th:onclick="@{'change(\'' + ${type.slug} + '\')'}" -->
								<li  class="dropdown" th:each="type, state : ${listType}" >
									<a th:href="@{'/type/'+${type.slug}}" class="dropdown-toggle  hyper" 
									><span th:text="#{'nav.'+${type.id}}"><b class="caret"></b></span></a>
								</li>			
												
									<ul class="dropdown-menu multi">
										<div class="row">
											<div class="col-sm-3">
												<ul class="multi-column-dropdown">

													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Water & Beverages</a></li>
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Fruits & Vegetables</a></li>
													<li><a th:href="@{/home/kitchen}"> <i class="fa fa-angle-right"
																aria-hidden="true"></i>Staples</a></li>
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Branded Food</a></li>

												</ul>

											</div>
											<div class="col-sm-3">

												<ul class="multi-column-dropdown">
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Breakfast &amp; Cereal</a></li>
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Snacks</a></li>
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Spices</a></li>
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Biscuit &amp; Cookie</a></li>
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Sweets</a></li>

												</ul>

											</div>
											<div class="col-sm-3">

												<ul class="multi-column-dropdown">
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Pickle & Condiment</a></li>
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Instant Food</a></li>
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Dry Fruit</a></li>
													<li><a th:href="@{/home/kitchen}"><i class="fa fa-angle-right"
																aria-hidden="true"></i>Tea &amp; Coffee</a></li>

												</ul>
											</div>
											<div class="col-sm-3 w3l">
												<a th:href="@{/home/kitchen}"><img th:src="@{/home/images/me.png}"
														class="img-responsive" alt=""></a>
											</div>
											<div class="clearfix"></div>
										</div>
									</ul>
								</li>
								<li><a th:href="@{/home/codes}" class="hyper"> <span>Codes</span></a></li>
								<li><a th:href="@{/home/contact}" class="hyper"><span>Contact Us</span></a></li>
							</ul>							
						</div>						
					</nav>
					<div class="cart">
						<span class="fa fa-shopping-cart my-cart-icon"><span
								class="badge badge-notify my-cart-badge"></span></span>						
					</div>						
								
					<div class="header-ri">
                        <ul class="social-top">
                            <!-- languge -->

                            <li class="nav-item">
                                <a class="nav-link" th:href="@{?lang=vi}">
                                    <!--  <img src="/home/images/vn_flag.jpg"/> -->
                                    <img width="30px" height="30px" th:src="@{/admin/vendors/flag-icon-css/flags/4x3/vn.svg}">VI</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{?lang=en}">
                                    <img width="30px" height="30px" th:src="@{/admin/vendors/flag-icon-css/flags/4x3/us.svg}">EN
                                </a>
                            </li>

                        </ul>
                    </div>	
            				
					<div class="clearfix"></div>					
				</div>
			</div>
			
		</div>
	</header>
	<!--Main Content-->
	<div layout:fragment="content">
	</div>

	<footer>
		<div class="footer">
			<div class="container">
				<div class="col-md-3 footer-grid">
					<h3>[(#{nav.about})]</h3>
					<p>[(#{footer.info})]</p>
				</div>
				<div class="col-md-3 footer-grid ">
					<h3>[(#{footer.menu})]</h3>
					<ul>
						<li><a th:href="@{/home}" th:text="#{nav.home}">Home</a></li>
						<li><a th:href="@{/home/kitchen}">[(#{nav.home})]</a></li>
						<li th:each="type, state : ${listType}">
                            <a th:href="@{'/type/'+${type.slug}}"><span th:text="#{'nav.'+${type.id}}" ><b class="caret"></b></span></a>
                        </li>
						<li><a th:href="@{/home/contact}"  th:text="#{nav.about}">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grid ">
					<h3>Customer Services</h3>
                    <ul>
                        <li><a th:href="@{/home/shipping}">Shipping</a></li>
                        <li><a th:href="@{/home/terms}">Terms & Conditions</a></li>
                        <li><a th:href="@{/home/faqs}">Faqs</a></li>
                        <li><a th:href="@{/home/contact}">Contact</a></li>
                        <li><a th:href="@{/home/offer}">Online Shopping</a></li>
                    </ul>

				</div>
				<div class="col-md-3 footer-grid">
					<h3>[(#{footer.MyAccount})]</h3>
					<ul>
						<li><a th:href="@{/home/login}">[(#{submenu.login})]</a></li>
						<li><a th:href="@{/home/register}">[(#{submenu.register})]</a></li>
						<li><a th:href="@{/home/wishlist}">[(#{submenu.whishlist})]</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
				<a th:onclick="@{}"> </a>
				<div class="footer-bottom">
					<h2><a th:href="@{/home}"><b>T<br>H<br>E</b>Big Store<span>The Best Supermarket</span></a></h2>
					<p class="fo-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						ullamco laboris</p>
					<ul class="social-fo">
						<li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
						<li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					</ul>
					<div class=" address">
						<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-home" aria-hidden="true"></i>756 Bình Thạnh, Tp.HCM.</p>
						</div>
						<div class="col-md-4 fo-grid1">
							<p><i class="fa fa-phone" aria-hidden="true"></i>+0964192032 , +0972769574</p>
						</div>
						<div class="col-md-4 fo-grid1">
							<p><a href="mailto:info@example.com"><i class="fa fa-envelope-o"
										aria-hidden="true"></i>info@example1.com</a></p>
						</div>
						<div class="clearfix"></div>

					</div>
				</div>
				<div class="copy-right">
					<p> &copy; 2016 Big store. All Rights Reserved .</p>
				</div>
			</div>

			<script>
			
			
			
			function numberWithCommas(x) {
			    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
			}
				getProduct = (data) => {
					var body = "";
					
					for(var i = 0; i < data.length;i++){
						data[i].price = numberWithCommas(data[i].price);
						body+=`  <div class=" con-w3l">   `+
				`  	<div class="col-md-3 pro-1"">  `+
					`  	<div class="col-m">  `+
							`  <!-- #myModal17 -->  `+
							`  <a href="#" data-toggle="modal" data-target="#${data[i].slug}" class="offer-img">  `+
								`  <img src="/home/images/${data[i].imgUrl}" class="img-responsive" alt="">  `+
							`  </a>  `+
							`  <div class="mid-1">  `+
								`  <div class="women">  `+
								`  	<h6><a href="/home/${data[i].slug} ">${data[i].name}</a></h6>  `+
								`  </div>  `+
								`  <div class="mid-2">  `+
								`  	<p><label>$7.00</label><em class="item_price" >${data[i].price} VND</em></p>  `+
								`  	<div class="block">  `+
										`  <div class="starbox small ghosting"> </div>  `+
									`  </div>  `+
									`  <div class="clearfix"></div>  `+
								`  </div>  `+
								`  <div class="add add-2">  `+
								`  	<button class="btn btn-danger my-cart-btn my-cart-b" data-id="${data[i].id}"  `+
										`  data-name="${data[i].name}" data-summary="summary 1" data-price="${data[i].price}"  `+
										`  data-quantity="${1}" data-image="images/${data[i].imgUrl}">[(#{button.add_to_Cart})]</button>  `+
								`  </div>  `+
							`  </div>  `+
						`  </div>  `+
					`  </div>  `  ;
					
					}
					$("#products").html(body);
				}
				ProductPage = (pageNum) => {
					let urlCurrent = '/api/page?p=' + pageNum;
					$.ajax({
						type: "GET",
						contentType: "application/json",
						url: urlCurrent,
						async: false,
						success: (data) => {
							$("#testBack").unbind();
							$("#testNext").unbind();

							$("#testBack").click(function () {
								ProductPage(data.back);
							});

							$("#testNext").click(function () {
								ProductPage(data.next);
							});
							getProduct(data.products);
							$("#testCurrent").html(`${data.current}`);
							$("#tesstlocal").click(function () {
								CallApiProduct(localStorage.products);
							});
						},
						error: (e) => {
							alert(e)
						}
					});
					reloadFunctions(); 	
				};
				ProductPage(0);
			</script>
			<script>
				CallApiProduct = (data) => {
					console.log(data);
					let url = '/api/saveCart';

					$.ajax({
						url: url,
						type: "POST",
						contentType: "application/json",
						dataType: "json",
						data: data,
						success: function (data) {
							alert(data);
						},
						error: function (response) {
							if (response.responseText == "DONE") {
								var form = $('<form action="/home/cart/saveLocal" >' +
									'<input  value="${data}" />' +
									'</form>');
								$('body').append(form);
								form.submit();
							} else {

							}
						}
					});
				}
			</script>
			<script>
		
			
				function numberWithCommas(x) {
					    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
					}
			
				getProductType = (data) => {
					var body = "";
					for(var i = 0; i < data.length;i++){
						data[i].price = numberWithCommas(data[i].price);
						body+=`  <div class=" con-w3l">   `+
				`  	<div class="col-md-3 pro-1"">  `+
					`  	<div class="col-m">  `+
							`  <!-- #myModal17 -->  `+
							`  <a href="#" data-toggle="modal" data-target="#${data[i].slug}" class="offer-img">  `+
								`  <img src="/home/images/${data[i].imgUrl}" class="img-responsive" alt="">  `+
							`  </a>  `+
							`  <div class="mid-1">  `+
								`  <div class="women">  `+
								`  	<h6><a href="/home/single/${data[i].slug} ">${data[i].name}</a></h6>  `+
								`  </div>  `+
								`  <div class="mid-2">  `+
								`  	<p><label>$7.00</label><em class="item_price" >${data[i].price} VND</em></p>  `+
								`  	<div class="block">  `+
										`  <div class="starbox small ghosting"> </div>  `+
									`  </div>  `+
									`  <div class="clearfix"></div>  `+
								`  </div>  `+
								`  <div class="add add-2">  `+
								`  	<button class="btn btn-danger my-cart-btn my-cart-b" data-id="${data[i].id}"  `+
										`  data-name="${data[i].name}" data-summary="summary 1" data-price="${data[i].price}"  `+
										`  data-quantity="${1}" data-image="images/${data[i].imgUrl}">Add to Cart</button>  `+
								`  </div>  `+
							`  </div>  `+
						`  </div>  `+
					`  </div>  `  ;
					}					
					$("#products1").html(body);
				}
				ProductPageType = (pageNum, Type) => {
					let urlCurrent = '/api/type?p=' + pageNum + '&slug='+Type;
					$.ajax({
						type: "GET",
						contentType: "application/json",
						url: urlCurrent,
						async: false,
						success: (data) => {
							
							$("#Back").unbind();
							$("#Next").unbind();

							$("#Back").click(function () {
								ProductPageType(data.back, Type);
							});
							$("#Next").click(function () {
								ProductPageType(data.next, Type);
							});
							getProductType(data.products);
							$("#Current").html(data.current);		
							reloadFunctions();	
						},
						error: (e) => {
							alert(e)
						}
					});
				};
				if(typeof change == "function"){
					change()
				} 
			</script>



		</div>
	</footer>
