<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/index.html}">

<head>
	<title>Big store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template| Home :: w3layouts
	</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta property="og:title" content="Vide" />
	<meta name="keywords" content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link th:href='@{/home/css/bootstrap.css}' rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link th:href='@{/home/css/style.css}' rel='stylesheet' type='text/css' />
	<!-- js -->
	<script th:src='@{/home/js/jquery-1.11.1.min.js}'></script>
	<!-- //js -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" th:src="@{/home/js/move-top.js}"></script>
	<script type="text/javascript" th:src="@{/home/js/easing.js}"></script>
	<!-- React -->
	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<!-- ReactDOM -->
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
	<!-- babel -->
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

	<!-- Table Data
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
-->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

	<!-- Common Function PgOrdIN
	 import : -->
	<script type="text/javascript" th:src='@{/common/FunctionPage/Order.js}'></script>

	<script type="text/javascript">
		let ListOrder = [];
		let ListpaymentMethod = [];
		let ListOrderProcess = [];
		$(document).ready(function () {
			searchOrder();
			OrderProcess(null);

		});
		function CreateTableOrder(data) {
			let body = ''
			let backgroundColor = '';
			for (let i = 0; i < data.length; i++) {
				if (data[i].process.id == 1) {
					backgroundColor = "background-color: #CAE5E8;"
				}
				else if (data[i].process.id == 2) {
					backgroundColor = "background-color: #6EC3C9;"
				}
				else if (data[i].process.id == 3) {
					backgroundColor = "background-color: #FEF889;"
				}
				else if (data[i].process.id == 4) {
					backgroundColor = "background-color: #5BBD2B;"
				};
				body += `<tr onclick='thisItem(${data[i].id})' class="text-center" style="${backgroundColor} cursor: pointer;">` +
					`<td>${i + 1}</td>` +
					`<td >${"PO" + data[i].id}</td>\n` +
					`<td >${data[i].createDate.substring(0, 10)}</td>\n` +
					`<td >${data[i].createDate.substring(11, 19)}</td>\n` +
					`<td >${numberWithCommas(data[i].totalprice)}</td>\n` +
					`<td >${data[i].process.description}</td>` +
					`</tr>`
			}
			$('#bodyOrder').html(body);
			$('#example').DataTable();
		};
		async function OrderProcess(currentOrder) {
			let clsOrder = '';
			let clsConfirm = '';
			let clsShip = '';
			let clsTake = '';
			let viewDetailTable = '';
			let viewPrcess = '';
			let btnApproveStep = '';
			let NVLcurrentOrder = { user: { fullname: '' }, createDate: '', address: '' };
			if (currentOrder === null) { // Mới vào chỉ load ID
				clsOrder = 'progtrckr-todo';
				clsConfirm = 'progtrckr-todo';
				clsShip = 'progtrckr-todo';
				clsTake = 'progtrckr-todo';
			}
			else if (currentOrder.process.id == 1) { // xác nhận nhận hàng
				clsOrder = 'progtrckr-done';
				clsConfirm = 'progtrckr-todo';
				clsShip = 'progtrckr-todo';
				clsTake = 'progtrckr-todo';
			} else if (currentOrder.process.id == 2) { // Xác Nhận Đơn Hàng
				clsOrder = 'progtrckr-done';
				clsConfirm = 'progtrckr-done';
				clsShip = 'progtrckr-todo';
				clsTake = 'progtrckr-todo';
			} else if (currentOrder.process.id == 3) { // Xác Nhận Đơn Hàng
				clsOrder = 'progtrckr-done';
				clsConfirm = 'progtrckr-done';
				clsShip = 'progtrckr-done';
				clsTake = 'progtrckr-todo';
			} else if (currentOrder.process.id == 4) { // Xác Nhận Đơn Hàng
				clsOrder = 'progtrckr-done';
				clsConfirm = 'progtrckr-done';
				clsShip = 'progtrckr-done';
				clsTake = 'progtrckr-done';
			};
			let body = ''
			body =
				`<div class="advn-two">` +
				`<ol class="progtrckr" data-progtrckr-steps="4">` +
				`	<li class="` + clsOrder + `">Mua Hàng </br>` +
				`		<img class="icon" src="https://i.imgur.com/9nnc9Et.png">` +
				`	</li>` +
				`	<li class="` + clsConfirm + `">Xác Nhận </br>` +
				`		<img class="icon" src="https://i.imgur.com/u1AzR7w.png">` +
				`	</li>` +
				`	<li class="` + clsShip + `">Vận Chuyển </br> &emsp;` +
				`		<img class="icon" src="https://i.imgur.com/TkPm63y.png">` +
				`	</li>` +
				`	<li class="` + clsTake + `">Nhận Hàng </br>` +
				`		<img class="icon" src="https://i.imgur.com/HdsziHP.png">` +
				`	</li>` +
				`</ol>` +
				`</div>` +
				`<br>` +
				`<br>`;
			if (currentOrder !== null) {
				NVLcurrentOrder = currentOrder;
				let orderDetail = await PgOrd_getDataOrderDetailByOrderId(currentOrder.id);
				if (orderDetail.length > 0) {
					orderDetail.forEach((dtl) => {
						viewDetailTable +=
							`                    <tr class="border-bottom">` +
							`                      <td class="col-md-4 border-left">` +
							`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>${dtl.product.name}</span> </div>` +
							`                      </td>` +
							`                      <td class="col-md-2 border-left">` +
							`						 <img width="32px" height="32px" src="/home/images/${dtl.product.imgUrl}">` +
							`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>x${dtl.quantity}</span> </div>` +
							`                      </td>` +
							`                      <td class="col-md-3">` +
							`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>${dtl.price}` +
							`                            VNĐ</span> </div>` +
							`                      </td>` +
							`                      <td class="col-md-3">` +
							`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>${dtl.price * dtl.quantity}` +
							`                            VNĐ</span> </div>` +
							`                      </td>` +
							`                    </tr>`
					});

					/*viewDetailTable +=
						`                    <div class="row g-0 border-bottom">` +
						`                      <div class="col-md-6">` +
						`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>[(#{order.totalprc})]</span>` +
						`                        </div>` +
						`                      </div>` +
						`                      <div class="col-md-6">` +
						`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>${currentOrder.totalprice} VNĐ</span> </div>` +
						`                      </div>` +
						`                    </div>` +
						`                    <div class="row g-0 border-bottom">` +
						`                      <div class="col-md-6">` +
						`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>Processing` +
						`                            fees</span> </div>` +
						`                      </div>` +
						`                      <div class="col-md-6">` +
						`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>$1.80</span>` +
						`                        </div>` +
						`                      </div>` +
						`                    </div>` +
						`                    <div class="row g-0">` +
						`                      <div class="col-md-6">` +
						`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span` +
						`                           class="font-weight-bold">[(#{order.totalprc})]</span> </div>` +
						`                      </div>` +
						`                      <div class="col-md-6">` +
						`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span` +
						`                            class="font-weight-bold">${currentOrder.totalprice} VNĐ</span> </div>` +
						`                      </div>` +
						`                    </div>`*/
				};
				body +=
					`<form class="form">` +
					`	<h2 style="text-align: center;"> [(#{order.code})] PO${currentOrder.id}</h2>` +
					`	<div class="form-group">` +
					`		<label for="" class="col-sm-5 control-label">[(#{order.orddt})]</label>` +
					`		<div class="col-sm-7">` +
					`			<text>...</text>` +
					`		</div>` +
					`	</div>` +
					`	<div class="form-group">` +
					`		<label for="" class="col-sm-5 control-label">[(#{order.ordtm})]</label>` +
					`		<div class="col-sm-7">` +
					`			<text>...</text>` +
					`		</div>` +
					`	</div>` +
					`	<div class="form-group">` +
					`		<label for="" class="col-sm-5 control-label">[(#{order.process_sts})]</label>` +
					`		<div class="col-sm-7">` +
					`			<text>...</text>` +
					`		</div>` +
					`	</div>` +
					`	<!--Table Detail-->` +
					`	<table id="tableDetailOrder" class="table table-condensed">` +
					`		<thead>` +
					`			<tr>` +
					`				<th class="col-md-4">[(#{order.name})]</th>` +
					`				<th class="col-md-2">[(#{order.quantity})]</th>` +
					`				<th class="col-md-3">[(#{order.price})]</th>` +
					`				<th class="col-md-3">[(#{order.toPrice})]</th>` +
					`			</tr>` +
					`		</thead>` +
					`		<tbody id="bodytableDetailOrder">` +
					`			${viewDetailTable}` +
					`		</tbody>` +
					`	</table>`;
				if (currentOrder.process.id === 1) {
					body +=
						`	<!--Reject-->` +
						`	<div class="col-md-12">` +
						`		<div class="form-group">` +
						`			<label class="" for="">[(#{order.description})]</label>` +
						`			<textarea class="form-control" rows="3"` +
						`				style="width: 401px; height: 95px;"></textarea>` +
						`		</div>` +
						`		<button type="submit" class="btn btn-danger">[(#{order.reject})]</button>` +
						`	</div>`
				}
				body += `</form>`;
			}
			//let bodyDtl = ''

			$('#tabOrderProcess').html(body);
		}
		thisItem = (orderId) => {
			let currentOrder = ListOrder.filter((x) => x.id == orderId);
			OrderProcess(currentOrder[0]);
		};
		numberWithCommas = function (x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		}

		searchOrder = () => {
			/*let paymentMethodId = $('#paymentMethod').val();
			let orderProcessId = $('#OrderStatus').val();
			let frmOrderDate = $('#frmOrderDt').val();
			let toOrderDate = $('#toOrderDt').val();*/
			let url = '';
			/*if (!document.getElementById('searchAll').checked) {
				url = "/api/order/orderDataByParam?paymentMethodId=" + paymentMethodId + "&processId=" + orderProcessId + "&frmOrderDt=" + frmOrderDate + "&toOrderDt=" + toOrderDate;
			} else {*/
			url = "/api/order/AllorderData";
			//}
			$.ajax({
				type: "GET",
				url: url,
				contentType: "application/json",
				success: function (data) {
					ListOrder = data;
					CreateTableOrder(data)
				},
				error: function (e) {
					Swal.fire({
						icon: 'error',
						text: "Can't load data !!!",
					})
				}
			})

		};

	</script>
	<!-- start-smoth-scrolling -->
	<link th:href='@{/home/css/font-awesome.css}' rel='stylesheet'>
	<link th:href='@{http://fonts.googleapis.com/css?family=Montserrat:400,700}' rel='stylesheet' type='text/css'>
	<link th:href='@{http://fonts.googleapis.com/css?family=Noto+Sans:400,700}' rel='stylesheet' type='text/css'>
	<!--- start-rate-->
	<script th:src="@{/home/js/jstarbox.js}"></script>
	<link rel="stylesheet" th:href="@{/home/css/jstarbox.css}" type="text/css" media="screen" charset="utf-8" />
	<script type="text/javascript">
		jQuery(function () {
			jQuery('.starbox').each(function () {
				var starbox = jQuery(this);
				starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
				}).bind('starbox-value-changed', function (event, value) {
					if (starbox.hasClass('random')) {
						var val = Math.random();
						starbox.next().text(' ' + val);
						return val;
					}
				})
			});
		});
	</script>
	<!---//End-rate-->
	<!--- CSS-->
	<link th:href='@{/home/css/orderprocess.css}' rel='stylesheet' type='text/css' />
	<!--<link rel="stylesheet" th:href="@{/admin/css/demo/style.css}">-->
</head>

<body>
	<div layout:fragment="content">
		<div class="banner-top">
			<div class="container">
				<h3>[(#{order.Hist})]</h3>
				<h4><a th:href="@{/home}">[(#{nav.home})]</a><label>/</label>[(#{order.Hist})]</h4>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- faqs -->
		<div class="about-w3 ">
			<!--advantages-->
			<div class="container">
				<div class="advantages">
					<!--<div class="col-md-12">
						<form>
							<fieldset>
								<div class="form-group form-inline">
									<label for="paymentMethod" style="width: 15%;">Payment Method</label>
									<div id="selectPaymentMethod"></div>
								</div>
								<div class="form-group form-inline">
									<label for="status" style="width: 15%;">Status</label>
									<div id="selectStatus"></div>
								</div>
								<label for="orderDate" style="width: 15%;">Order Date</label>
								<div class="form-group form-inline">
									<input id="frmOrderDt" type="date" class="form-control">
									<label for="orderDate"> To </label>
									<input id="toOrderDt" type="date" class="form-control">
								</div>
								<div class="form-inline">
									<label for="searchAll"> Search All </label>
									<input checked th:attr="onchange='searchAllOrder()'" id="searchAll" type="checkbox"
										class="form-control">
								</div>
							</fieldset>
							<button type="button" th:attr="onclick='searchOrder()'"
								class="btn btn-primary">Search</button>
						</form>
					</div>-->
					<div class="col-md-6 advantages-left ">
						<h3>Order History</h3>
						<div class="main-wrapper mdc-drawer-app-content">
							<div class="page-wrapper mdc-toolbar-fixed-adjust">
								<main class="content-wrapper">
									<div class="mdc-layout-grid">
										<div class="mdc-layout-grid__inner">
											<div
												class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
												<div class="mdc-card p-0">
													<div class="table-responsive">
														<br>
														<br>
														<table id="example" class="table table-hoverable">
															<thead>
																<tr>
																	<th class="text-left">[(#{order.stt})]</th>
																	<th>[(#{order.code})]</th>
																	<th>[(#{order.orddt})]</th>
																	<th>[(#{order.ordtm})]</th>
																	<th>[(#{order.totalprc})]</th>
																	<th>[(#{order.process_sts})]</th>
																</tr>
															</thead>
															<tbody id="bodyOrder">
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</main>
							</div>
						</div>
					</div>
					<div class="col-md-6 advantages-left about-agi">
						<h3>Order Process</h3>
						<div id="tabOrderProcess"></div>

					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!--advantages-->

		</div>
	</div>
</body>

</html>