<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/index.html}">

<head>
	<title>Big store a Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template| Home :: w3layouts
	</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta property="og:title" content="Vide" />
	<meta name="keywords" content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<link th:href='@{/home/css/bootstrap.css}' rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link th:href='@{/home/css/style.css}' rel='stylesheet' type='text/css' />
	<!-- js -->
	<script th:src='@{/home/js/jquery-1.11.1.min.js}'></script>
	<!-- //js -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" th:src="@{/home/js/move-top.js}"></script>
	<script type="text/javascript" th:src="@{/home/js/easing.js}"></script>
	<!-- React -->
	<script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
	<!-- ReactDOM -->
	<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
	<!-- babel -->
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

	<!-- Table Data
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
-->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
	<!-- Common Function PgOrdIN
	 import : -->
	<script type="text/javascript" th:src='@{/common/FunctionPage/Order.js}'></script>
	
	<script type="text/javascript">
		let ListOrder = [];
		let ListpaymentMethod = [];
		let ListOrderProcess = [];
		$(document).ready(function () {
			searchOrder();
			OrderProcess(null);
		});
		function CreateTableOrder(data) {
			let body = ''
			let backgroundColor = '';
			let header =
				`<table id="example" class="table table-hoverable">`+
				`	<thead>`+
				`		<tr>`+
				`			<th class="text-left">[(#{order.stt})]</th>`+
				`			<th>[(#{order.code})]</th>`+
				`			<th>[(#{order.orddt})]</th>`+
				`			<th>[(#{order.ordtm})]</th>`+
				`			<th>[(#{order.totalprc})]</th>`+
				`			<th>[(#{order.paymentMethod_Nm})]</th>`+
				`			<th>[(#{order.process_sts})]</th>`+
				`		</tr>`+
				`	</thead>`+
				`	<tbody id="bodyOrder">`+
				`</table>`;
			$('#headerOrder').html(header);
			for (let i = 0; i < data.length; i++) {
				if (data[i].process.id == 1) {
					backgroundColor = "background-color: #CAE5E8;"
				}
				else if (data[i].process.id == 2) {
					backgroundColor = "background-color: #6EC3C9;"
				}
				else if (data[i].process.id == 3) {
					backgroundColor = "background-color: #FEF889;"
				}
				else if (data[i].process.id == 4) {
					backgroundColor = "background-color: #5BBD2B;"
				}
				else if (data[i].process.id == 5 || data[i].process.id == 6) {
              		backgroundColor = "background-color: #ff777c;"
            	};
				body += `<tr onclick='thisItem(${data[i].id})' class="text-center" style="${backgroundColor} cursor: pointer;">` +
					`<td>${i + 1}</td>` +
					`<td >${"PO" + data[i].id}</td>\n` +
					`<td >${data[i].createDate.substring(0, 10)}</td>\n` +
					`<td >${data[i].createDate.substring(11, 19)}</td>\n` +
					`<td >${numberWithCommas(data[i].totalprice)}</td>\n` +
					`<td >${data[i].paymentmethod.methodname}</td>\n` +
					`<td >${data[i].process.description}</td>` +
					`</tr>`
			}
			$('#bodyOrder').html(body);
			$('#example').DataTable({"lengthMenu": [ [4], [4] ],"bLengthChange" : false});
		};
		async function OrderProcess(currentOrder) {
			console.log(currentOrder);
			let clsOrder = '';
			let clsConfirm = '';
			let clsShip = '';
			let clsTake = '';
			let viewDetailTable = '';
			let viewPrcess = '';
			let btnApproveStep = '';
			let linkReject = '';
			let lsPrcss = '';
			let NVLcurrentOrder = { user: { fullname: '' }, createDate: '', address: '' };
			if (currentOrder === null) { // Mới vào chỉ load ID
				clsOrder = 'progtrckr-todo';
				clsConfirm = 'progtrckr-todo';
				clsShip = 'progtrckr-todo';
				clsTake = 'progtrckr-todo';
			}
			else if (currentOrder.process.id == 1) { // xác nhận nhận hàng
				clsOrder = 'progtrckr-done';
				clsConfirm = 'progtrckr-todo';
				clsShip = 'progtrckr-todo';
				clsTake = 'progtrckr-todo';
			} else if (currentOrder.process.id == 2) { // Xác Nhận Đơn Hàng
				clsOrder = 'progtrckr-done';
				clsConfirm = 'progtrckr-done';
				clsShip = 'progtrckr-todo';
				clsTake = 'progtrckr-todo';
			} else if (currentOrder.process.id == 3) { // Xác Nhận Đơn Hàng
				clsOrder = 'progtrckr-done';
				clsConfirm = 'progtrckr-done';
				clsShip = 'progtrckr-done';
				clsTake = 'progtrckr-todo';
			} else if (currentOrder.process.id == 4) { // Xác Nhận Đơn Hàng
				clsOrder = 'progtrckr-done';
				clsConfirm = 'progtrckr-done';
				clsShip = 'progtrckr-done';
				clsTake = 'progtrckr-done';
			} else if (currentOrder.process.id == 5 || currentOrder.process.id == 6) { // Trả Đơn Hàng
				clsOrder = 'progtrckr-cancel';
				clsConfirm = 'progtrckr-cancel';
				clsShip = 'progtrckr-cancel';
				clsTake = 'progtrckr-cancel';
			};
			let body = '';
			if (currentOrder !== null) {
				NVLcurrentOrder = currentOrder;
				let orderDetail = await PgOrd_getDataOrderDetailByOrderId(currentOrder.id);
				console.log(currentOrder);
				if(currentOrder.process.id === 1 && currentOrder.paymentmethod.id != 2){
					linkReject = `	<a class="button" href="#deteleOrder" id="btnOpenPopupDtl" style="font-size: 30px">[(#{order.reject})] PO${currentOrder.id} </a>`;
				}
				if (orderDetail.length > 0) {
					orderDetail.forEach((dtl) => {
						viewDetailTable +=
							`                    <tr class="border-bottom">` +
							`                      <td class="col-md-4 border-left">` +
							`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>${dtl.product.name}</span> </div>` +
							`                      </td>` +
							`                      <td class="col-md-2 border-left">` +
							`						 <img width="32px" height="32px" src="/home/images/${dtl.product.imgUrl}">` +
							`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>x${dtl.quantity}</span> </div>` +
							`                      </td>` +
							`                      <td class="col-md-3">` +
							`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>${numberWithCommas(dtl.price)}` +
							`                            VNĐ</span> </div>` +
							`                      </td>` +
							`                      <td class="col-md-3">` +
							`                        <div class="p-3 d-flex justify-content-center align-items-center"> <span>${numberWithCommas(dtl.price * dtl.quantity)}` +
							`                            VNĐ</span> </div>` +
							`                      </td>` +
							`                    </tr>`
					});
				};
				
				if (currentOrder.process.id !== 0) {
					body +=
						`<div class="container">`+
						`	<a class="button" href="#popupDtl" id="btnOpenPopupDtl" style="font-size: 30px">[(#{order.code})] PO${currentOrder.id} </a>`+
						`	<div class="popup" id="popupDtl">`+
						`		<div class="popup-inner">`+
						`			<div class="popupphoto">`+
						`				<img src="https://th.bing.com/th/id/R.12c066fb2d73ef80c197b1b488bb5bcf?rik=EtcJM%2fhZlAOgzQ&riu=http%3a%2f%2fwww.southsfinestmeats.com%2fwp-content%2fuploads%2f2018%2f02%2fFresh-Vegetables-Colorful-Veg-195451207-1g8.jpg&ehk=7IgchnrBxPHq%2bYz7ogQVm5kzrGCdBzeH9P%2bgDNpve3w%3d&risl=&pid=ImgRaw&r=0" alt="">`+
						`			</div>`+
						`			<div class="popuptext">`+
							`	<h2 style="text-align: center;"> [(#{order.code})] PO${currentOrder.id}</h2>` +
							// popup : Process
									`<div class="advn-two">` +
									`<ol class="progtrckr" data-progtrckr-steps="4">` +
									`	<li class="` + clsOrder + `" style="front-site: 15px">Mua Hàng </br>` +
									`		<img class="icon" src="https://i.imgur.com/9nnc9Et.png">` +
									`	</li>` +
									`	<li class="` + clsConfirm + `" style="front-site: 15px">Xác Nhận </br>` +
									`		<img class="icon" src="https://i.imgur.com/u1AzR7w.png">` +
									`	</li>` +
									`	<li class="` + clsShip + `" style="front-site: 15px">Vận Chuyển </br> &emsp;` +
									`		<img class="icon" src="https://i.imgur.com/TkPm63y.png">` +
									`	</li>` +
									`	<li class="` + clsTake + `" style="front-site: 15px">Nhận Hàng </br>` +
									`		<img class="icon" src="https://i.imgur.com/HdsziHP.png">` +
									`	</li>` +
									`</ol>` +
									`</div>` +
									`<br>` +
									`<br>`+
							// popup : Order Detail
									`	<div class="form-group">` +
									`		<label for="" class="col-sm-5 control-label">[(#{order.orddt})]</label>` +
									`		<div class="col-sm-7">` +
									`			<text>${currentOrder.createDate.substring(0, 10)}</text>` +
									`		</div>` +
									`		<label for="" class="col-sm-5 control-label">[(#{order.ordtm})]</label>` +
									`		<div class="col-sm-7">` +
									`			<text>${currentOrder.createDate.substring(11, 19)}</text>` +
									`		</div>` +
									`		<label for="" class="col-sm-5 control-label">[(#{order.paymentMethod_Nm})]</label>` +
									`		<div class="col-sm-7">` +
									`			<text>${currentOrder.paymentmethod.methodname}</text>` +
									`		</div>` +
									`		<label for="" class="col-sm-5 control-label">[(#{order.totalprc})]</label>` +
									`		<div class="col-sm-7">` +
									`			<text>${numberWithCommas(currentOrder.totalprice)} VNĐ</text>` +
									`		</div>` +
									`	</div>` +
									`	<!--Table Detail-->` +
									`	<table id="tableDetailOrder" class="table table-condensed">` +
									`		<thead>` +
									`			<tr>` +
									`				<th class="col-md-4">[(#{order.name})]</th>` +
									`				<th class="col-md-2">[(#{order.quantity})]</th>` +
									`				<th class="col-md-3">[(#{order.price})]</th>` +
									`				<th class="col-md-3">[(#{order.toPrice})]</th>` +
									`			</tr>` +
									`		</thead>` +
									`		<tbody id="bodytableDetailOrder">` +
									`			${viewDetailTable}` +
									`		</tbody>` +
									`	</table>${linkReject}`+
									
						`			</div>`+
						`			<a class="closepopup" href="#">X</a>`+
						`		</div>`+
						`	</div>`+
						//Reject 
						`<div class="container">`+
						`	<div class="popup" id="deteleOrder">`+
						`		<div class="popup-inner">`+
						`			<div class="popuppleft">`+
						`				<iframe src="https://giphy.com/embed/BEob5qwFkSJ7G" width="100%" height="100%" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>`+
						`			</div>`+
						`			<div class="popuppright">`+
									//--------------------------------------------------	
									`<h1 style="text-align: center;"> [(#{order.reject})] PO${currentOrder.id}</h1>` +
									`<textarea id="resionReject" class="form-control" rows="3" required="true"></textarea>`+	
									`<label class="checkbox-inline">`+
									`	<input type="checkbox" id="confirmReject" value="Y"> [(#{mess.confirmReject})]`+
									`</label>`+
									`<button onclick="PgOrd_RejectOrder(${currentOrder.id})" id="btnRejectOrd" style="width: 30%; background-color: #fff;color: #47BDFF;">[(#{order.code})]</button>`+
									`</br>`+
									`</br>`+
									`<a class="button" href="#popupDtl" id="btnOpenPopupDtl" style="font-size: 30px">[(#{order.code})] PO${currentOrder.id} </a>`+
									//--------------------------------------------------
						`			</div>`+
						`			<a class="closepopup" href="#">X</a>`+
						`		</div>`+
						`	</div>`+
						`</div>`;
				}
				body += `</form>`;
			}
			//let bodyDtl = ''
			$('#tabOrderProcess').html(body);
			$('#tableDetailOrder').DataTable({"lengthMenu": [ 2 , 2],"bLengthChange" : false});
		}
		thisItem = (orderId) => {
			let currentOrder = ListOrder.filter((x) => x.id == orderId);
			OrderProcess(currentOrder[0]);
		};
		numberWithCommas = function (x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		}

		searchOrder = () => {
			let url = '';
			url = "/api/order/AllorderData";
			$.ajax({
				type: "GET",
				url: url,
				contentType: "application/json",
				success: function (data) {
					ListOrder = data;
					CreateTableOrder(data)
				},
				error: function (e) {
					Swal.fire({
						icon: 'error',
						text: "Can't load data !!!",
					})
				}
			})

		};

	</script>
	<!-- start-smoth-scrolling -->
	<link th:href='@{/home/css/font-awesome.css}' rel='stylesheet'>
	<link th:href='@{http://fonts.googleapis.com/css?family=Montserrat:400,700}' rel='stylesheet' type='text/css'>
	<link th:href='@{http://fonts.googleapis.com/css?family=Noto+Sans:400,700}' rel='stylesheet' type='text/css'>
	<!--- start-rate-->
	<script th:src="@{/home/js/jstarbox.js}"></script>
	<link rel="stylesheet" th:href="@{/home/css/jstarbox.css}" type="text/css" media="screen" charset="utf-8" />
	<script type="text/javascript">
		jQuery(function () {
			jQuery('.starbox').each(function () {
				var starbox = jQuery(this);
				starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
				}).bind('starbox-value-changed', function (event, value) {
					if (starbox.hasClass('random')) {
						var val = Math.random();
						starbox.next().text(' ' + val);
						return val;
					}
				})
			});
		});
	</script>
	<!---//End-rate-->
	<!--- CSS-->
	<link th:href='@{/home/css/orderprocess.css}' rel='stylesheet' type='text/css' />
	<link th:href='@{/home/css/tooltips.css}' rel='stylesheet' type='text/css' />
	<link th:href='@{/home/css/popup.css}' rel='stylesheet' type='text/css' />
	<!--<link rel="stylesheet" th:href="@{/admin/css/demo/style.css}">-->
</head>

<body>
	<div layout:fragment="content">
		<div class="banner-top">
			<div class="container">
				<h3>[(#{order.Hist})]</h3>
				<h4><a th:href="@{/home}">[(#{nav.home})]</a><label>/</label>[(#{order.Hist})]</h4>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- faqs -->
		<div class="about-w3 ">
			<!--advantages-->
			<div class="container">
				<div class="advantages">
					
					<div class="col-md-8 advantages-left ">
						<h3>[(#{submenu.order_history})]</h3>
						<div class="main-wrapper mdc-drawer-app-content">
							<div class="page-wrapper mdc-toolbar-fixed-adjust">
								<main class="content-wrapper">
									<div class="mdc-layout-grid">
										<div class="mdc-layout-grid__inner">
											<div
												class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
												<div class="mdc-card p-0">
													<div class="table-responsive">
														<br>
														<br>
														<!-- <table id="example" class="table table-hoverable">
															<thead>
																<tr>
																	<th class="text-left">[(#{order.stt})]</th>
																	<th>[(#{order.code})]</th>
																	<th>[(#{order.orddt})]</th>
																	<th>[(#{order.ordtm})]</th>
																	<th>[(#{order.totalprc})]</th>
																	<th>[(#{order.process_sts})]</th>
																</tr>
															</thead>
															<tbody id="bodyOrder">
														</table> -->
														<div id="headerOrder"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</main>
							</div>
						</div>
					</div>
					<div class="col-md-4 advantages-left about-agi">
						<h3>[(#{order.ordDtl})]</h3>
						<div id="tabOrderProcess"></div>
						
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!--advantages-->

		</div>
	</div>
</body>

</html>